.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100%;
  background-color: black;
}

.imgSize {
  max-width: 269.8px;
  min-height: 480px;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 600;
}

.imgSize:hover .hiddenContent {
  pointer-events: none;
  opacity: 1;
}
.imgSize:hover .hoverImg {
  opacity: 0.1;
}
.imgSize:hover .imgSize {
  opacity: 0.1;
}
.imgSize:hover {
  border: 1px solid darkgrey;
  border-bottom: none;
  box-shadow: 1px 1px 0px 0px darkgrey;
}

.pagination > li.active > a {
  color: #fff;
  background-color: red;
  border-color: rosybrown;
}
.pagination > li > a:hover {
  background-color: red;
  color: white;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  padding: 0px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  display: none !important;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  margin-right: 0;
  padding: 0px !important;
  border-top-right-radius: 4px;
  display: none !important;
}
.imgSize:hover .cardbody {
  opacity: 0;
}
.hiddenContent {
  opacity: 0;
  display: inline-block;
  align-items: center;
}

.listRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBox {
  width: 100%;
  height: 100%;
}

.paginationLine {
  display: flex;
  justify-content: center;
}

.pagination > li > a {
  background-color: black;
  color: white;
  border-style: none;
}

.pagination > li {
  background-color: black;
  color: white;
  border-style: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 1500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.sideBar {
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.5s;
}
.navBox {
  background-color: white;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
