.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100%;
  background-color: black;
}

.imgSize {
  max-width: 269.8px;
  min-height: 480px;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 600;
}

.imgSize:hover .hiddenContent {
  opacity: 1;
}
.imgSize:hover .hoverImg{
  opacity: 0.1;
}
.imgSize:hover .imgSize {
  opacity: 0.1;
}
.imgSize:hover .cardbody{
  opacity: 0;
}
.hiddenContent {
  opacity: 0;
  display: inline-block;
  align-items: center ;
}

.listRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Pagination{
  background-color: black;
  color: whitesmoke;
  border: 1px solid white;
}
.pagiBox{
  display: flex;
  justify-content: center;
}

